In [7]:
import pandas as pd

columns = ["Name", "Age", "Height"]
data = [
		["Ted", 24, 177],
		["Judy", 27, 183],
]

df = pd.DataFrame(data=data, columns=columns)
df

   Name  Age  Height
0   Ted   24     177
1  Judy   27     183

In [8]:
df.to_json('./test_pandas_default.json')

In [9]:
{"Name":{"0":"Ted","1":"Judy"},"Age":{"0":24,"1":27},"Height":{"0":177,"1":183}}

{'Name': {'0': 'Ted', '1': 'Judy'},
 'Age': {'0': 24, '1': 27},
 'Height': {'0': 177, '1': 183}}

In [10]:
df.to_json('./test_pandas_columns.json', orient="columns")

In [11]:
{"Name":{"0":"Ted","1":"Judy"},"Age":{"0":24,"1":27},"Height":{"0":177,"1":183}}

{'Name': {'0': 'Ted', '1': 'Judy'},
 'Age': {'0': 24, '1': 27},
 'Height': {'0': 177, '1': 183}}

In [12]:
df.to_json('./test_pandas_records.json', orient="records")

In [13]:
[{"Name":"Ted","Age":24,"Height":177},{"Name":"Judy","Age":27,"Height":183}]

[{'Name': 'Ted', 'Age': 24, 'Height': 177},
 {'Name': 'Judy', 'Age': 27, 'Height': 183}]

In [14]:
df.to_json('./test_pandas_index.json', orient="index")

In [15]:
{"0":{"Name":"Ted","Age":24,"Height":177},"1":{"Name":"Judy","Age":27,"Height":183}}

{'0': {'Name': 'Ted', 'Age': 24, 'Height': 177},
 '1': {'Name': 'Judy', 'Age': 27, 'Height': 183}}

In [16]:
df.to_json('./test_pandas_split.json', orient="split")

In [17]:
{"columns":["Name","Age","Height"],"index":[0,1],"data":[["Ted",24,177],["Judy",27,183]]}

{'columns': ['Name', 'Age', 'Height'],
 'index': [0, 1],
 'data': [['Ted', 24, 177], ['Judy', 27, 183]]}

In [18]:
df.to_json('./test_pandas_table.json', orient="table")

In [19]:
{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Name","type":"string"},{"name":"Age","type":"integer"},{"name":"Height","type":"integer"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"Name":"Ted","Age":24,"Height":177},{"index":1,"Name":"Judy","Age":27,"Height":183}]}

{'schema': {'fields': [{'name': 'index', 'type': 'integer'},
   {'name': 'Name', 'type': 'string'},
   {'name': 'Age', 'type': 'integer'},
   {'name': 'Height', 'type': 'integer'}],
  'primaryKey': ['index'],
  'pandas_version': '1.4.0'},
 'data': [{'index': 0, 'Name': 'Ted', 'Age': 24, 'Height': 177},
  {'index': 1, 'Name': 'Judy', 'Age': 27, 'Height': 183}]}