In [79]:
# 引入必要套件
import pymysql

In [80]:

# 設定資料庫連線資訊
host = 'host.docker.internal'
port = 3306
user = 'root'
passwd = 'password'
db = 'TESTDB'
charset = 'utf8mb4'


# 建立連線
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

Successfully connected!

In [81]:
config ={
    "host" : "host.docker.internal",
    "port" : 3306,
    "user" : 'root',
    "passwd" : 'password',
    "db" : 'TESTDB',
    "charset" : 'utf8mb4',
    }

conn = pymysql.connect(**config)

In [82]:
def test_fun(a, b, *args, **args_dist):
    print(a, b)
    for i in args:
        print(i)

    print(args_dist)

test_fun(1,2,3,4,5,kkk=123, bbb=333)

1 2
3
4
5
{'kkk': 123, 'bbb': 333}

In [83]:
cursor = conn.cursor()

In [84]:

# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

IntegrityError: (1062, "Duplicate entry '001' for key 'staff.PRIMARY'")

In [28]:

# 因 pymysql 預設不會自動 commit，故要記得 commit （CUD增刪改：交易）
conn.commit()

In [29]:
sql = """select * from staff"""
cursor.execute(sql)

1

In [30]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [31]:
cursor.fetchall()

()

In [35]:
sql = """select * from staff"""
cursor.execute(sql)
data = cursor.fetchall()

In [36]:
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [71]:

# 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [77]:



# 將指令放進 cursor 物件，並執行
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
# 整理 jsondata 成可 insert 進資料庫的樣子，格式如下
values = [
    ('009', 'Mike', '002', '45', 'M', '60000', '2020-10-13 21:41:49'),
    ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
    ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
    ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
    ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
    ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
    ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
    ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49'),
]

In [66]:
import pymysql
from pymysql.err import IntegrityError, InternalError

def insertData(host='host.docker.internal', port=3306, user='root', passwd='password', db='TESTDB', charset='utf8mb4'):
    effectedRow = -1
    
    try:
        conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
    except RuntimeError as e:
        print(e)
        return -1
    except InternalError as e:
        print(e)
        return -1

    cursor = conn.cursor()

    sql_insert = """
    INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
    VALUES ('001', 'Mike', '002', '45', 'M', '60000', '2020-04-29 21:04:52');
    """

    try:
        effectedRow = cursor.execute(sql_insert)
    except IntegrityError as e:
        sql_delete = """DELETE FROM Staff WHERE ID = '001';"""
        cursor.execute(sql_delete)
        effectedRow = cursor.execute(sql_insert)
    except:
        pass
    finally:
        conn.commit()
        cursor.close()
        conn.close()
    return effectedRow

In [78]:
insertData()

InterfaceError: (0, '')